<h1>Webapp for Evaluating Model Accuracy</h1>
<p>
    Hey, thanks for taking the time and helping me with my project. By clicking the below link, you will be
    displayed 3 images. One image is the so called query image and the other two are so called retrievals. The goal is
    to find a retrieval that matches the query as close as possible. Your are being displayed 2 retrievals, one is the
    output of a model I developed throughout this project and the other is a baseline to be evaluated against. Please decide in the following
    which of the retrivals appear to you to be more visually similar to the query (you will not know which one is the model and which the baseline).
    Thanks again!
</p>

<a href="{% url 'polls:vote' %}">Proceed </a>

